.avatar {
  width: 200px;
  border-radius: 5px;
}
#avatar-sm {
  width: 20px;
  border: 1px solid green;
}
.center {
  position:relative;
  left: 50%;
  transform: translateX(-50%);
}
.place {
  background: white;
  border-radius: 5px;
  padding: 15px;
}
.place-img {
  position: relative;
  float: left;
  border-radius: 5px;
}
.place-rating {
  margin-bottom: 10px;
}
.place-rating-img {
  float: left;
  width: 25px;
  float:right;
  border-radius: 5px;
}
