.well {
  padding: 0px 15px 0px 15px;
  max-height: 500px;
  overflow-y: auto;
  background: black;
}
.avatar {
  width: 200px;
  border-radius: 5px;
}
#avatar-sm {
  width: 20px;
  border: 1px solid green;
}
