.avatar {
  width: 200px;
  border-radius: 5px;
}
#avatar-sm {
  width: 20px;
  border: 1px solid green;
}
.center {
  position:relative;
  left: 50%;
  transform: translateX(-50%);
}
.place {
  background: white;
  border-radius: 5px;
  padding: 15px;
  vertical-align: top;
}
.place-img {
  display: block;
  border-radius: 5px;
  margin-bottom: 10.5px;
}
.place-rating {
  margin: 10.5px 0px 10px 7px;
}
.place-rating-img {
  width: 25px;
  border-radius: 5px;
}
.col-md-3 {
  max-width: 150px;
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
}
