<!DOCTYPE>
<html>
<head>
  <% include /partials/head %>
  <title>Booksy - Add Books</title>
</head>
<body>
  <% include /partials/header %>
  <div class="container">
    <div class="jumbotron animated fadeIn">
      <form class="form-inline text-center" action="" method="post" id="form-add">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Book Title/ISBN..." name="book" id="add-txt">
          <input type="submit" class="btn btn-success" value="Add Book" id="add-btn">
        </div>
      </form?=>
    </div>
  </div>
  <div class="container">
    <% include /partials/footer %>
  </div>
  <% include /partials/scripts %>
  <script src="/controllers/bookController.client.js"></script>
</body>
</html>
