<!DOCTYPE>
<html>
<head>
  <% include /partials/head %>
  <title>Booksy</title>
</head>
<body>
  <% include /partials/header %>
  <div class="container">
    <div class="jumbotron text-center">
      <h1 class="animated zoomIn">Booksy</h1>
      <hr>
      <p class="animated fadeIn">A Book Trading app created for <a href="http://www.freecodecamp.com/">freecodecamp</a>!</p>
    </div>
    <a class="btn btn-lg btn-success center" href="/search">Start Trading!</a>
  </div>
  <div class="container">
    <% include /partials/footer %>
  </div>
  <% include /partials/scripts %>
</body>
</html>
