<!DOCTYPE>
<html>
<head>
  <% include /partials/head %>
  <title>suptonight - <%-name%></title>
</head>
<body>
  <% include /partials/header %>
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-3">
          <img src="<%=img%>"class="avatar">
        </div>
        <div class="col-md-3">
          <h1 class="animated zoomIn text-center"><%=name%></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <% include /partials/footer %>
  </div>
  <% include /partials/scripts %>
</body>
</html>
